body,
html {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: "Helvetica Neue", serif;
    line-height: 1.5em;
}

body {
    position: absolute;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

header img {
    margin-left: 15px;
    margin-right: 155px;
    border-radius: 50%;
}

h1 {
    color: white;
}

nav {
    margin-right: 14px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline-block;
}

nav a {
    text-decoration: underline;
    color: white;
}

main {
    margin-top: 30px;
}

section {
    padding: 50px 150px;
}


#description {
    background: #F1F1F1;

}

.description img {
    float: left;
    width: 450px;
    height: 500px;
    padding: 20px 20px 20px 0px;
}

.description-p2 {
    clear: both;
}

.relationship img {
    float: right;
    width: 450px;
    height: 500px;
    padding: 20px;
}